/* 这个文件里面放4个页面公共的一些样式，比如背景、导航栏等 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 导航栏 */
.nav {
    width: 100vw;
    height: 80px;
    background-color: #3470c0;
    display: flex;
    justify-content: start;
    align-items: center;    
}

/* 导航栏中的 log */
.nav img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000000;
}

/* 导航栏中的标题 */
.nav .title {
    width: 100vw;
    color: #ffffff;
    font-size: 20px;
}
/* 版心的样式 */
.container {
    width: 100vw;
    height: 88vh;
}