* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vd {
    /* width: 960px; */
    aspect-ratio: 16 / 9;
    /* margin: 0 auto; */
    /* background-color: aquamarine; */
    overflow: hidden;
}